build
mcpl
dependencies

*.sublime-workspace
.vscode

# Python aux files
**/.ipynb_checkpoints
**/__pycache__
*.pyc
**/dist/
python/*.egg-info
python/build
python/.tox
python/python/*
python/.coverage


# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Emacs
*~
\#*\#
.\#*
mcpl
.vscode/settings.json
docs/examples/samples.ssv
docs/examples/Verification.ipynb
docs/examples/Verification.ipynb
CMakeLists_for_wsl2.txt
